src/main/mule/watermark_assignment.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="f0718b1e-58d0-4c44-8d49-888dff52f025" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Mounika@1303" database="mule_DB" >
			<db:connection-properties >
<db:connection-property key="useSSL" value="false" />
</db:connection-properties>
</db:my-sql-connection>
	</db:config>
	<file:config name="File_Config" doc:name="File Config" doc:id="46a325e4-3521-4ec1-9b72-bcec50331575" >
		<file:connection workingDir="/Users/mounikad/Desktop/mulesoft/day6_assignment/Output" />
	</file:config>
	<flow name="watermark_assignmentFlow" doc:id="bafb879c-157a-4ec4-b92b-82e848cb055d" >
		<db:listener table="student1" doc:name="On Table Row" doc:id="5962aaf9-49fd-427f-87bf-80a1546ca752" config-ref="Database_Config" watermarkColumn="name" idColumn="name">
			<scheduling-strategy >
				<fixed-frequency frequency="5000" />
			</scheduling-strategy>
		</db:listener>
		<logger level="INFO" doc:name="Logger" doc:id="2048eb15-f7ee-4c67-b1bb-3e9713275aae" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="089515a1-e32e-4049-9ad3-476ceae9d9d8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write" doc:id="9a5692c1-fb8e-410a-a4c8-f90019292ba4" config-ref="File_Config" path="/Users/mounikad/Desktop/mulesoft/day6_assignment/Output/ouput.json"/>
	</flow>
</mule>
